*~ 
*.tmp
*.pdf
*.svg
*.tif
*.shx
*.prj
*.shp
*.vrt
*.ppt*
*.zip
*.gz
*.dbf
*.bil
*.hdr
*.stx
*.xml
*.DS_Store
*.shp
*.png
*.jpg
*.jpeg
*.aux
*.bbl
*.blg
*.fdb*
*.fls
*.log
*.toc
*.sty*
*.qgs
*.doc*
*.mp4
*.webm
*.mkv
*.m4a
*.ipynb

__pycache__
./Other/NotesREADME-default.md

!./Other/code.jpg
/Week3/Results/*
!/Week3/Results/.gitkeep

/Week4/Other/Stats_with_spaRRows
!/Week4/Results/.gitkeep

/Week5/Data/Prac1/*
!/Week5/Data/Prac1/.gitkeep
/Week5/Data/Prac2/*
!/Week5/Data/Prac2/.gitkeep
/Week5/Data/Prac3/*
!/Week5/Data/Prac3/.gitkeep
/Week5/Data/Prac4/*
!/Week5/Data/Prac4/.gitkeep

/Week5/Other/Prac1/*
!/Week5/Other/Prac1/.gitkeep
/Week5/Other/Prac2/*
!/Week5/Other/Prac2/.gitkeep
/Week5/Other/Prac3/*
!/Week5/Other/Prac3/.gitkeep
/Week5/Other/Prac4/*
!/Week5/Other/Prac4/.gitkeep

/Week5/Results/Prac1/*
!/Week5/Results/Prac1/.gitkeep
/Week5/Results/Prac2/*
!/Week5/Results/Prac2/.gitkeep
/Week5/Results/Prac3/*
!/Week5/Results/Prac3/.gitkeep
/Week5/Results/Prac4/*
!/Week5/Results/Prac4/.gitkeep

/Week6/Data/*
!/Week6/Data/.gitkeep
/Week6/Other/*
!/Week6/Other/.gitkeep
/Week6/Results/*
!/Week6/Results/.gitkeep

/Week8_CMEEMiniProject/Other/*
/Week8_CMEEMiniProject/Results/*
!/Week8_CMEEMiniProject/Results/.gitkeep
!/Week9_CMEEMiniProject/Results/Model_Fits/MTD2106_bad_fit.pdf
